<div class="p-5 text-center header-bg-image">
   <!-- div class="header-bg-image-text">
       <div class="d-flex justify-content-center align-items-center h-100">
           <div class="banner-caption">
               <p>SYDNEY</p>
           </div>
       </div>
   </div -->
</div>