<nav aria-label="breadcrumb">
   <ol class="breadcrumb">
       <li class="breadcrumb-item" aria-current="page">Discover</li>
       <li class="breadcrumb-item" aria-current="page"><a
               href="../ls/discover-spectacular-sites/">Cities</a></li>
       <li class="breadcrumb-item active" aria-current="page">Sydney</li>
   </ol>
</nav>