         <hr>
         <!-- Section Related Links -->
         <h4>Related links</h4>
         <ul class="list_1">
             <li><a href="../paris">Paris</a></li>
             <li><a href="../new-york">New York</a></li>
         </ul>