<div class="container">
   <div class="row">
       <div class="col-md-9 border-content">
           <!-- Section Header -->
            {%- include 'cityDetail/cityDetailSections/sectionBreadcrumb.njk' -%}
            {%- include 'cityDetail/cityDetailSections/sectionCarousel.njk' -%}
            <!-- Section Overview -->
            {%- include 'cityDetail/cityDetailSections/sectionOverview.njk' -%}
            {%- include 'cityDetail/cityDetailSections/sectionSampleSection.njk' -%}
            {%- include 'cityDetail/cityDetailSections/sectionItinerary.njk' -%}
            {%- include 'cityDetail/cityDetailSections/sectionExtras.njk' -%}
       </div><!-- End col-md-9 -->
       {%- include 'cityDetail/cityDetailSections/sectionSidePanel.njk' -%}
   </div><!-- End row -->
</div><!-- End container -->