<hr>
<!-- Section Testimonial -->
<h4>Testimonials</h4>
<div id="carouselTestimonialIndicator" class="carousel slide">
    <!-- div class="carousel-indicators">     
    <button type="button" data-bs-target="#carouselTestimonialIndicator" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

    <button type="button" data-bs-target="#carouselTestimonialIndicator" data-bs-slide-to="1" aria-label="Slide 2"></button>

    <button type="button" data-bs-target="#carouselTestimonialIndicator" data-bs-slide-to="2" aria-label="Slide 3"></button>

    <button type="button" data-bs-target="#carouselTestimonialIndicator" data-bs-slide-to="3" aria-label="Slide 4"></button>
</div -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div>
                <blockquote class="testimonial">
                    <p>Visiting Sydney was an absolute dream come true! The city's stunning harbor, with the iconic Sydney Opera House and Harbour Bridge, took my breath away. From the vibrant atmosphere of Bondi Beach to the historic charm of The Rocks, Sydney offers a perfect blend of urban excitement and natural beauty. Exploring the Royal Botanic Garden and getting up close with wildlife at Taronga Zoo were unforgettable experiences. The food scene is incredible, with diverse flavors and delightful waterfront dining options. I can't wait to return and immerse myself in the captivating energy of Vivid Sydney. Sydney truly exceeded all my expectations and left me with memories that will last a lifetime!</p>
                </blockquote>
                <div class="testimonial-arrow-down">
                </div>
                <div class="testimonial-author">
                    <div class="img-thumbnail img-thumbnail-small">
                        <img class="img-circle" src="/assets/images/listing/sydney/isabella-profile.jpg" alt="">
                    </div>
                    <p><strong>"Isabella"</strong><span>Customer</span></p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div>
                <blockquote class="testimonial">
                    <p>Sydney is a city that captures your heart from the moment you arrive. The breathtaking views of the harbor, the vibrant energy of its neighborhoods, and the warmth of its people make it an unforgettable destination. From the awe-inspiring Sydney Opera House to the golden sands of Bondi Beach, every corner offers a new adventure. The blend of world-class dining, cultural diversity, and outdoor activities ensures there's something for everyone. Whether you're exploring the historic streets of The Rocks or taking a leisurely stroll through the Royal Botanic Garden, Sydney's charm and beauty will leave an indelible mark. I can't wait to return and discover even more of this enchanting city.</p>
                </blockquote>
                <div class="testimonial-arrow-down">
                </div>
                <div class="testimonial-author">
                    <div class="img-thumbnail img-thumbnail-small">
                        <img class="img-circle" src="/assets/images/listing/sydney/benjamin-profile.jpg" alt="">
                    </div>
                    <p><strong>"Benjamin"</strong><span>Customer</span></p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div>
                <blockquote class="testimonial">
                    <p>Sydney is a city that effortlessly combines urban sophistication with natural wonders. The iconic landmarks, the vibrant cultural scene, and the stunning coastline create an unparalleled experience. From the bustling streets of Darling Harbour to the serenity of the Royal Botanic Garden, Sydney offers a diverse range of attractions for every traveler. The friendly locals and the delectable food scene add to the city's charm. Whether I was exploring its rich history at The Rocks or immersing myself in the pulsating atmosphere of Vivid Sydney, every moment in Sydney was filled with excitement and discovery. It's a destination that leaves you longing for more, and I can't wait to return.</p>
                </blockquote>
                <div class="testimonial-arrow-down">
                </div>
                <div class="testimonial-author">
                    <div class="img-thumbnail img-thumbnail-small">
                        <img class="img-circle" src="/assets/images/listing/sydney/sophia-profile.jpg" alt="">
                    </div>
                    <p><strong>"Sophia"</strong><span>Customer</span></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonialIndicator"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonialIndicator"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div><br>