<footer>
   <div id="footer_waves"></div>
   <div class="container">
       <div class="row">
           <nav class="col-md-4 col-sm-6 footer_nav">
               <h4>Quick links</h4>
               <ul>
                   <li><a href="../../s/about-us">About us</a></li>
                   <li><a href="../../ls/list-of-destinations-around-the-world">Popular Destinations</a></li>
                   <li><a href="../../ls/list-of-destinations-around-the-world">List of Destinations</a></li>
                   <li><a href="../../ls/list-of-destinations-around-the-world">Travel around the World</a>
                   </li>
               </ul>
           </nav>
           <div class="col-md-4 col-sm-6" id="contact_footer">
               <h4>Contacts</h4>
               <p>Feel free to call or send us a message, we will reply shortly.</p>
               <ul>
                   <li><i class="icon-home"></i>Discover Spectacular Sights and Uncover Hidden Gems, 123 Sydney Street, Darlinghurst, Sydney, NSW 2000, Australia</li>
                   <li><a href="tel:90499 88254"><i class="icon-phone"></i>4058 1234567</a></li>
                   <li><i class="icon-email"></i> <a
                           href="mailto:info@discover-spectacular-sites.com">info@discover-spectacular-sites.com</a></li>
               </ul>
           </div>
           <div class="col-md-4 col-sm-12">
               <h4>Follow us</h4>
               <ul id="follow_us">
                   <li><a href="https://www.facebook.com/groups/711974115969054/" target="_blank"><i
                               class="fa fa-facebook"></i></a></li>
                   <li><a href="https://www.instagram.com/discover-spectacular-sites/" target="_blank"><i
                               class="fa fa-instagram"></i></a></li>
                   <!-- li><a href="../../assets/"><i class=" icon-google"></i></a></li -->
               </ul>
           </div>
       </div><!-- End row -->
       <hr class="rope_2">
       <div class="row">
           <div class="col-md-12 text-center">
               <p id="copy">Copyright © <br><strong>Address:</strong> Discover Spectacular Sights and Uncover Hidden Gems, 123 Sydney Street, Darlinghurst, Sydney, NSW 2000, Australia</p>
           </div>
       </div><!-- End row -->
   </div><!-- End container -->
</footer><!-- End footer -->