       <!-- Section Side Panel -->
       <aside class="col-md-3">
         {%- include 'cityDetail/cityDetailSections/sectionPrice.njk' -%}
         {%- include 'cityDetail/cityDetailSections/sectionTestimonials.njk' -%}
         {%- include 'cityDetail/cityDetailSections/sectionRelatedLinks.njk' -%}
     </aside><!-- End col-md-3 -->