         <!-- Section Price -->
         <div class="price-box">
            <div class="price">
                <strong>₹13500 </strong><small>per person</small>
            </div>
            <ul class="list_ok">
                <li>1. City Sightseeing: Guided tours or admission to popular attractions such as the Sydney Opera House, Sydney Harbour Bridge, or Taronga Zoo</li>
                <li>2. Activities: Inclusion of specific activities such as a harbor cruise, a visit to Bondi Beach, or a guided walking tour of The Rocks.</li>
                <li>3. Entrance Fees: Admission fees to museums, galleries, or other attractions mentioned in the itinerary.</li>
                <li>4. Transportation: Transport for city tours, excursions, or day trips within Sydney.</li>
                <li>5. Meals: Some packages may include daily breakfast or specific meals during the tour.</li>
                <li>6. Support Services: Assistance from a dedicated tour representative or customer support throughout the duration of the tour.</li>
            </ul>
        </div>